<div class="top-bar">
    <div style="flex-grow: 2">
        <div class="spinner" *ngIf="appComponent.getSpinner()"></div>
        <span class="material-icons" *ngIf="!appComponent.getSpinner()"
         [ngStyle]="{'color': appComponent.getIfUpdated()? 'blue': 'white'}" >
            notifications
        </span>
        &nbsp;
        {{appComponent.getNotification()}}
    </div>
    <div style="flex-grow: 4" class="logotext">
        <span class="material-icons">
            videogame_asset
        </span>
        Archive Game Browser</div>
    <div style="flex-grow: 2">
        <span class="material-icons">
            save
        </span>
        3.2GB/10GB</div>
    <div style="flex-grow: 3">
        <span class="material-icons">
            access_time
        </span>
        {{nowtime}}</div>

</div>