.top-bar {
    height: 30px;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.top-bar > div {
    color: rgba(255, 255, 255, 0.863);
    margin: 2px;
    text-align: center;
    font-size: 15px;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
    padding-right: 5px;
}

.logotext {
    color: rgb(255, 255, 255) !important;
}

.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #0043be; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
