.main-menu-row {
    display: flex;
    margin: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-right: 0px;
    width: 98%;
    overflow: scroll;
    overflow-y: hidden;
    height: 450px;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5a4;
}

.custom-scroll::-webkit-scrollbar {
    height: 15px;
    background-color: #f5f5f500;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-image: linear-gradient(90deg, rgb(0, 55, 156), rgb(0, 4, 56));
    min-width: 30%;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(90deg, rgb(0, 89, 255), rgb(0, 7, 99));
}

.bottom-div {
    color: #ffffffe7;
    font-size: xx-large;
    font-weight: 900;
    padding-left: 10px;
}
