.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer !important;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 47, 100, 0.603);
    transform: scale(1.2);
}

.card:active {
    transform: scale(1.4);
}

img {
    border-radius: 10px;
    width: 200px;
    height: 220px;
    box-sizing: border-box;
    z-index: 5;
}

.game-name {
    color: rgb(190, 220, 255);
    font-size: x-large;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.897);
    color: white;
    text-align: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: x-large;
}

.unloaded-back {
    top: 20px;
    position: absolute;
    z-index: -1;
    padding: 10px;
    color: rgb(0, 32, 136);
    font-weight: 500;
    font-size: x-large;
}
